on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      image_tag:
       required: true
       type: string
      prd_image_build:
        required: true
        type: boolean
        default: false
      stg_image_build:
        required: true
        type: boolean
        default: false
    secrets:
      STAGING_GCR_SA:
        required: true
      PRODUCTION_GCR_SA:
        required: true
      SLACK_WEBHOOK:
        required: true

env:
  STAGING_GCR_PROJECT: noted-handler-353112
  PRODUCTION_GCR_PROJECT: production-353113
  SLACK_CHANNEL: sre-bots
  SLACK_USERNAME: SRE Image Builder
  SLACK_ICON_SUCCESS: ":shamrock:"
  SLACK_ICON_FAILURE: ":no_entry:"
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  STAGING_IMAGE:  "gcr.io/$STAGING_GCR_PROJECT/${{ inputs.image_name }}:${{ inputs.image_tag }}"
  PRODUCTION_IMAGE: "gcr.io/$PRODUCTION_GCR_PROJECT/${{ inputs.image_name }}:${{ inputs.image_tag }}"


jobs:
  build_staging:
   if: ${{ inputs.stg_image_build }} == 'true'
   runs-on: ubuntu-latest

   steps:

    - name: checkout the project
      uses: actions/checkout@v2

    - name: set up buildx
      uses: docker/setup-buildx-action@v2

    - name: set up gcloud
      uses: google-github-actions/setup-gcloud@v0.6.0

    - name: save the staging gcr sa to a file
      id: base64-staging-gcr
      shell: bash
      run:
        echo '${{ secrets.STAGING_GCR_SA }}' | base64 >> key.txt

    - name: set the env var with the base64 contents of the key
      id: set-output
      shell: bash
      run: echo ::set-output name=STAGING_GCR_SA_BASE64::$(cat key.txt)

    - name: upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: my-artifact
        path: key.txt
        retention-days: 5

    - name: build and push to staging gcr
      id: stg_img_build
      uses: RafikFarhad/push-to-gcr-github-action@v4
      with:
        gcloud_service_key: ${{ steps.set-output.outputs.STAGING_GCR_SA_BASE64 }}
        registry: gcr.io
        project_id: ${{ env.STAGING_GCR_PROJECT }}
        image_name: ${{ inputs.image_name }}
        image_tag:  ${{ inputs.image_tag }}


  slack_staging_success:
    needs: build_staging
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    
    steps:
      
    - name: slack success for staging
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_ICON: $SLACK_ICON_SUCCESS
        SLACK_COLOR: green
        SLACK_MESSAGE: "STAGING image ${{ env.STAGING_IMAGE }} was built / pushed with SUCCESS"

      
  slack_staging_failure:
    needs: build_staging
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}     

    steps:
      
    - name: slack failure for staging
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_ICON: $SLACK_ICON_FAILURE
        SLACK_COLOR: red
        SLACK_MESSAGE: "STAGING image ${{ env.STAGING_IMAGE }} failed to be built / pushed"

  build_production:
   if: ${{ inputs.prd_image_build }} == 'true'
   runs-on: ubuntu-latest

   steps:

    - name: checkout the project
      uses: actions/checkout@v2

    - name: set up buildx
      uses: docker/setup-buildx-action@v2

    - name: set up gcloud
      uses: google-github-actions/setup-gcloud@v0.6.0
    
    - name: build and push to production gcr
      id: prd_img_build
      uses: RafikFarhad/push-to-gcr-github-action@v4
      with:
        gcloud_service_key: ${{ secrets.PRODUCTION_GCR_SA }}
        registry: gcr.io
        project_id: ${{ env.PRODUCTION_GCR_PROJECT }}
        image_name: ${{ inputs.image_name }}
        image_tag:  ${{ inputs.image_tag }}

  slack_production_success:
    needs: build_production
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    
    steps:
      
    - name: slack success for production
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_ICON: $SLACK_ICON_SUCCESS
        SLACK_COLOR: green
        SLACK_MESSAGE: "PRODUCTION image ${{ env.PRODUCTION_IMAGE }} was built / pushed with SUCCESS"
      
  slack_production_failure:
    needs: build_production
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}
    
    steps:
      
    - name: slack failure for production
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_ICON: $SLACK_ICON_FAILURE
        SLACK_COLOR: red
        SLACK_MESSAGE: "PRODUCTION image ${{ env.PRODUCTION_IMAGE }} failed to be built / pushed"