name: Full Pipeline Execution

on:
  push:
    paths: '**.go'
    branches: main

jobs:

  initial-job:

    runs-on: ubuntu-latest

    steps:

      - name: checkout the project
        uses: actions/checkout@v2

      - name: say hello
        run: |
          echo "Hello World"
          ls -1

  build-and-push-job:
    uses: pkaramol/test-workflows/.github/workflows/build_and_push_to_gcr.yaml@main
    with:
      stg_image_build: "false"
      prd_image_build: "true"
      image_name: echo-server
      image_tag: "1.0.2"
    secrets:
      STAGING_GCR_SA: ${{ secrets.STAGING_GCR_SA }}
      PRODUCTION_GCR_SA: ${{ secrets.PRODUCTION_GCR_SA }}